/* Example SCSS Variables */

// Colors
$white: #fff;
$black: #000;

// Breakpoints
$xsmall: 320px;
$small: 575px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1680px;

// Misc
$i: !important;